html {
  background-color: #303030;
  color: white;
}
.main-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.navbar {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #1288ff;
  margin-bottom: 50px;
}

.gem-option {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gem-option {
  display: flex;
  justify-content: center;
}

.api-input-frame {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  border: 2px solid gray;
  border-radius: 15px;
  background-color: #424242;
  text-align: left;
  padding: 15px;
}

.api-input-frame div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.api-input-frame div span:first-child {
  margin-right: 10px;
}

.gem-list-frame {
  margin-right: 100px;
}

.class-choice {
  margin: 10px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #424242;
  text-align: left;
  padding: 10px;
}

.class-choice span {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.class-division {
  margin: 10px;
}

.api-key span {
  margin-right: 10px;
}

.api-key input {
  background-color: #424242;
  border: 0px;
  border-bottom: 1px solid gray;
  color: white;
}

.gem-choice-damage-cooldown {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  border: 2px solid gray;
  border-radius: 15px;
  background-color: #424242;
  text-align: left;
  padding: 15px;
}

.gem-choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gem-choice span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.gem-choice select {
  background-color: #424242;
  padding: 5px;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid gray;
}

.gem-damage-cooldown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gem-damage-cooldown span {
  font-size: 15px;
  font-weight: 600;
}

.gem-option button {
  width: 60px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #424242;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  transition: 0.15s all ease-in-out;
}

.gem-option button:hover {
  background-color: #303030;
  cursor: pointer;
}

.class-division-classname {
  margin-bottom: 5px;
}

.class-division-checkbox {
  padding: 5px;
}

.class-division-checkbox label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.gem-list-frame {
  display: block;
  width: 40%;
  height: 78.8vh;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #424242;
  margin: 0px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

.gem-list-frame::-webkit-scrollbar {
  width: 10px;
}
.gem-list-frame::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.gem-list-frame::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.gem-list {
  width: 96.87%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.gem-list img {
  border-radius: 10px;
  margin-right: 10px;
  width: 5%;
}

.gem-list span:nth-child(1) {
  width: 30%;
}
.gem-list span:nth-child(2) {
  width: 40%;
}
.gem-list span:nth-child(3) {
  width: 35%;
}

.class-icon {
  width: 20px;
  margin-right: 3px;
}
